!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %title
      = 'My Portfolio'
    = stylesheet_link_tag 'normalize', 'all'
    = javascript_include_tag  'all'
    %link{:href => 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css', :rel => 'stylesheet'}
    %link{:href => 'http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', :rel => 'stylesheet'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700', :rel => 'stylesheet'}
    %link{:href => 'stylesheets/styles.css', :rel => 'stylesheet'}
  %body.home
    = yield
